DATA SCRAPER

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
URL = "https://www.lifestyleasia.com/ind/shop/more/best-fiction-books-of-all-time/"

In [3]:
# Headers for request
HEADERS = ({'User-agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36', 'Accept-Language': 'en-US, en;q=0.5'}) #add your user agent

In [4]:
# HTTP Request
webpage = requests.get(URL, headers=HEADERS)

In [5]:
print(webpage)

<Response [200]>

In [6]:
type(webpage.content)

bytes

In [6]:
# Soup Object containiang all data
soup = BeautifulSoup(webpage.content, "html.parser")

In [10]:
names = soup.find_all("ul", class_='btt_toc-list')

book_names = []
for ul in names:
    for li in ul.find_all("li"):
        book_names.append(li.text.split(' by ')[0].strip())

print(book_names)

['Pride and Prejudice', '1984', 'A Tale of Two Cities', 'And Then There Were None', 'The Alchemist', 'The Da Vinci Code', 'The Catcher in the Rye', 'To Kill a Mockingbird', "The Handmaid's Tale", 'Wuthering Heights', 'The Great Gatsby', 'Catch-22', 'Jane Eyre', 'The Kite Runner', 'One Hundred Years of Solitude', 'The Lord of the Rings', 'Fahrenheit 451', 'Gone with the Wind', 'Beloved', 'Anna Karenina']

In [11]:
import pandas as pd

# Ensure book_names and author_names are of the same length
min_length = len(book_names)

# Create a DataFrame
data = {
    'Book Name': book_names[:min_length]
}

df = pd.DataFrame(data)

In [14]:
df.head(11)

                   Book Name
0        Pride and Prejudice
1                       1984
2       A Tale of Two Cities
3   And Then There Were None
4              The Alchemist
5          The Da Vinci Code
6     The Catcher in the Rye
7      To Kill a Mockingbird
8        The Handmaid's Tale
9          Wuthering Heights
10          The Great Gatsby

In [15]:
with open('scrrap_output2.txt', 'w') as file:
        for item in df['Book Name']:
            file.write(f"{item}\n")